#Contact {
    padding: 2rem;
  .info-container {
      padding: 1.5rem;
      text-align: center;

      p {
        padding: 1rem;
      }
      .mail {
        color: black;
        cursor: pointer;
        &:hover {
          color:#807453 ;
          color:#4d80d3 ;
        }
      } 
      
      .icon {
        margin: 0.5rem;
        color: #807453;
        color:#4f5866;
        color:#4d80d3;

        &:hover {
          color:$color-primary;
          cursor: pointer;
        }
      }
  }

  .store-time {
    text-align: center;

    h2 {
      padding-bottom: 1rem;
    }
  }
}