#footer {
  padding: 1.7rem;
  // background-color:  #807453;
  background-color:  #3b372c;
  background-color:#262b31;
  background-color:#4e5a68;
  text-align:center;
  color: silver;
  div {
    padding: 0.5rem;
  }
  a {
    color: silver;
   padding: 0 0.5rem;

   &:hover {
     color:$color-primary;
     cursor: pointer;
   }
  }
}